//--------------------------------
// THEME COLORS
//--------------------------------

$color-primary: #97C727;

//--------------------------------
// BACKGROUND COLORS
//--------------------------------


//--------------------------------
// FONT COLORS
//--------------------------------

$color-font-main: #6B6B6B;

//--------------------------------
// ALERTS COLORS
//--------------------------------
// Success
$color-alert-success: #27AE60;

// Warning
$color-alert-warning: #E9493A;